/* {
  border-color: red;
  border-style: solid;
  border-width: 1px;
  padding: 5px;
}*/
html, body, .gmap {
  height: 100%;
}
select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border:none;
  border-radius: 4px;
  font-size: 1em;
  width: 100%;
  height: 100%;
  border: 1px solid #555;
padding:.75em 1em .5em 1em;
background-color:white;
background-position: right;
background-repeat: no-repeat;
}

  select:hover {
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
}


}
option{
  margin: 5px;
  height: 100% !important;
}
